body {
   font-family: 'Tenor Sans', sans-serif;
}


font-semibold {
    font-weight: 600;
}
#header li {
    display: inline;
    padding: 120px;
}

h1 {
   font-family: 'Noto Serif', serif, ;
   color: white;
}
.container img {
   width: 30%;
   height: auto;
   align-items: center;

}
.container:hover img{
   /* opacity: 30%;
   text-shadow: 2px; */
   text-decoration: underline;
}
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }
#navbar {
   width:auto;
   
   height: 30%;
}
#navbar ul li {
   display: inline-block;
   padding-bottom: 0%;
   padding-top: 0%;
   
}

@media screen and (max-width: 900px) {
    .col {
       width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .col {
       width: 100%;
    }
 }