font-semibold {
    font-weight: 600;
}
#header li {
    display: inline;
    padding: 120px;

}
.container {
   width: auto;
   margin: auto;
}
.container img {
   width: auto;
   height: auto;
   align-items: center;
}
.container:hover img{
   opacity: ;
}
#navbar {
   width:auto;
   
   height: 30%;
}
#navbar ul li {
   display: inline-block;
   padding-bottom: 0%;
   padding-top: 0%;
   
}

@media screen and (max-width: 900px) {
    .col {
       width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .col {
       width: 100%;
    }
 }